.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.label {
  margin-right: 5px;
  font-weight: bold;
  font-style: italic;
  color: var(--pri-color);
}

.btn {
  width: 80px;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-self: flex-start;
  cursor: pointer;
  border: none;
  border-radius: var(--b-rad);
  box-shadow: 2px 2px 5px inset var(--app-bckg);
}
.btn.active {
  background-color: var(--sec-color);
  justify-content: flex-start;
}
.btn.notActive {
  background-color: var(--pri-color);
  justify-content: flex-end;
}
.circle {
  border-radius: 50%;
  background-color: var(--app-bckg);
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px 0;
}
.status.active {
  color: var(--sec-color);
}
.status.notActive {
  color: var(--pri-color);
}
.smallCircle {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}
.smallCircle.active {
  background-color: var(--sec-color);
}
.smallCircle.notActive {
  background-color: var(--pri-color);
}
