#drum-machine {
  width: 60%;
  /* height: auto; */
  height: 60%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
  border: 2px solid var(--sec-color);
  background-color: var(--app-bckg);
  box-shadow: 5px 5px 5px gray;
  padding: 10px;
  border-radius: var(--b-rad);
}

@media only screen and (max-width: 768px) {
  #drum-machine {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    width: 80% !important;
    height: 70%;
  }
}
